@media screen and (max-width: 400px) {
   body {
      max-width: 400px;
   }

.navbar {
      flex-direction: column;
   }

.navbar-nav {
   margin: auto;

}

.nav-logo {
   display: none;
}

.main-menu .nav-item {
   padding: 5px;
}

.hero-logo {
   width: 150px;
   height: 200px;
}

.hero-logo-text {
   font-size: 30px;
}

.sub-header {
   width: 100%;
   height: max-content;
}

.portfolio-card {
   max-width: none ;
}

.hero-content {
   padding: 0;
}

.sub-header {
   padding: 0;
}

.custom-shape-divider-bottom-1669000324 {
   /* bottom: 125px; */
}

}